html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #FAFAFA;
}

.user {
  position  : fixed;
  top       : 0;
  right     : 0;
  width     : 250px;
  height    : 40px;
  border-radius     : 0 0 0 8px;
  border-style: solid;
  border-color: rgba(73, 73, 71, 0.3);
  border-width: 1px;
  border-top: 0;
  background-color  : #ddddd9;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

#ident {
  color: #444;
  font-weight: bold;
}

.header {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#errors {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#errors p {
  color: #a94442;
}

.input-container {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  width: 80%;
}

.login-container {

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  width: 50%;

}

.input, .input-text, .input-text--large, .input-textbox {
  border-radius: 4px;
  border: 2px solid #ddddd9;
  padding: 1rem;
  outline: none;
  width: 80%;
  margin-top: 1.25rem;
  box-sizing: border-box;
  box-shadow: none; 
}
  .input:hover, .input-text:hover, .input-text--large:hover, {
    border-color: rgba(73, 73, 71, 0.5); 
  }
  .input:active, .input-text:active, .input-text--large:active, {
    border-color: #1fc0ef; 
  }
  .input:focus, .input-text:focus, .input-text--large:focus, {
    border-color: #1fc0ef; 
  }

.input-text--large {
  margin-top: 0;
  font-size: 3.125rem; 
}

.input-textbox {
  margin: auto;
  resize: none;
  height: 4rem;
  min-height: 450px;
  padding-bottom: 3rem;
  background-color: #EEE; 
  overflow: scroll;
}
  .input-textbox:active {
    border-color: #1fc0ef; 
  }
  .input-textbox:focus {
    border-color: #1fc0ef; 
  }

.input-text {
  resize: none;
  height: 20px;
  width: 100%;
}
  .input-text:active {
    border-color: #1fc0ef; 
  }
  .input-text:focus {
    border-color: #1fc0ef; 
  }

.homeAction {
  position: relative;
  margin: auto;
  text-align: center;
  display: block;
  width: 20%;
  padding: 1em;
  box-sizing: border-box; 
}

.action {
  text-align: right;
  display: block;
  float: left;
  width: 100%;
  padding: 1em;
  padding-right: 0;
  box-sizing: border-box; 
}

.action-primary {
  border: 2px solid #ddddd9;
  background-color: #ffffff;
  border-radius: 2em; 
}
  .action-primary:hover {
    border-color: #494947;
    cursor: pointer; 
  }